body {
  background-image: linear-gradient(180deg, black, #888888);
  height: 100vh;
  color: white;
  text-align: center;
  font-size: 22px;
  font-family: 'Open Sans', sans-serif;
}

.red {
  color: red;
}

.text-in-a-script {
  font-size: 10px;
  color: white;
  background-color: black;
  outline: 5px solid #333333;
}
